<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container mb-4">

        <div class="navbar">
            <div class="logoSection row w-100">
                <div class="col">
                    <a href="/home"><i class="fa-solid fa-bars fa-2x"></i></a>
                    <img th:src="@{/images/phyh.jpg}" height="50" width="200"/>
                </div>
                <div class="col">
                    <a href="/home"><i class="fa-solid fa-magnifying-glass fa-2x"></i></a>
                    <a href="/home"><i class="fa-solid fa-user fa-2x"></i></a>
                </div>
            </div>
        </div>

    </div><!--/.container-->
</nav><!--/nav-->
