
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<style>
  .fa-caret-left:hover{
    color:red !important;
  }
</style>
<div th:fragment="posts(posts)">
  <hr>
  <div class="container-header">
    <tr>
      <td><a href="/home"><i class="fa-solid fa-caret-left fa-3x"></i></a></td>
      <td><h4>BLOG POST</h4></td>
    </tr>
  </div>
  <hr>
  <div class="posts_wrapper">
    <div class="post" th:each="post : ${posts}">
      <h2><a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}">Title</a></h2>
      <h5 th:text="'Published on ' + ${#dates.format(post.creationDate, 'yyyy MMMM dd')} + ' by ' + ${post.user.username}">Creation date and by whom</h5>
      <p th:text="${post.body}">body text</p>
      <br>
    </div>
  </div>
</div>
</body>
</html>