<style>
    .container-header{
        display: flex;
    }
    h4{
        font-size: 2.5rem;
    }
    .fa-caret-left:hover{
        color:red !important;
    }
</style>
<div class="container">
    <hr>
    <div class="container-header">
        <tr>
            <td><a href="/home"><i class="fa-solid fa-caret-left fa-3x"></i></a></td>
            <td><h4>ADD PLAN</h4></td>
        </tr>
    </div>
    <hr>
    <div class="card-header">
        <p class="h4 mb-2 text-center">Add Plan</p>
    </div>
    <div class="card-body">
        <form action="/plan/add" method="POST" enctype="multipart/form-data">

            <!-- Name -->
            <input type="text" name="pname" id="name" class="form-control mb-4"
                   placeholder="Plan Name">

            <!-- Days -->
            <input type="text" name="days" id="days" class="form-control mb-4"
                   placeholder="Plan Days">
            <!-- Time -->
            <input type="text" name="time" id="time" class="form-control mb-4"
                   placeholder="Time Plan">
            <!-- Category -->
            <textarea class="form-control mb-4" id="category" name="category"
                      placeholder="Plan Category">Plan Category
                                 </textarea>
            <div class="custom-file mb-4">
                <input type="file" name="file" class="custom-file-input"
                       id="customFile"> <label class="custom-file-label"
                                               for="customFile">Product Image</label>
            </div>
            <!-- Sign in button -->
            <button type="button" class="btn btn-primary">ADD</button>
        </form>
    </div>
</div>