<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Float four columns side by side */
    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }

    /* Remove extra left and right margins, due to padding in columns */
    .row {margin: 0 -5px; margin: inherit}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Style the counter cards */
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
        height: 230px;
        weight: 260px
    }
    .card-sec{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
        height: 105px;
    }
    th {
        background-color: #04AA6D;
        color: forestgreen;
    }
    .container-header{
        display: flex;
    }
    h4{
        font-size: 2.5rem;
    }
    .fa-brands:hover{
        color:red !important;
    }
    .fa-brands:hover{
        color:red !important;
    }
     .fa-caret-left:hover{
        color:red !important;
    }

</style>
<body>
<div class="container mb-4" th:each="profile : ${userProfile}">
    <hr>
    <div class="container-header">

        <tr>
            <td><a href="/home"><i class="fa-solid fa-caret-left fa-3x"></i></a></td>
                <td><h4>MY PROFILE</h4></td>
        </tr>
    </div>
    <hr>
    <div class="container mb-4">
<div class="row">
    <div class="column">
        <div class="card">
            <div class="card-body">
                <th scope="row">
                    <td>
                <img th:src="@{/resources/images/profile.jpg}" height="150" width="150"/></td><br>
                <td th:text="${profile.getName()+' '+profile.getSurname()}"></td>
                </th>
            </tr>
        </div>
    </div>
    </div>
    <div class="column">
        <div class="card">
            <tr><td>Hi There!</td></tr>
            <tr><td th:text="${profile.getName()}"></td></tr>
            <tr>
                <div class="title">
                    <td><i class="fa-solid fa-house"> Berovo</i></td>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                            <td><i class="fa-brands fa-instagram fa-2x"></i></td>
                            <td><i class="fa-brands fa-facebook-f fa-2x"></i></td>
                            <td><i class="fa-brands fa-snapchat fa-2x"></i></td>
                        </thead>
                    </table>
                </div>
            </tr>
        </div>
    </div>
</div>
    <div class="row">
    <div class="column">
        <div class="card-sec">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th  scope="col">Height</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Age</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${profile.getHeight()}"></td>
                        <td th:text="${profile.getWeight()}"></td>
                        <td th:text="${profile.getAge()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card-sec">
            <p>Favorite activity</p>
            <td class="card-text" th:text="${profile.getFavoriteActivity()}" ></td>
        </div>
    </div>
    </div>
</div>
</div>
</body>
</html>